<!DOCTYPE html>
<html>

<%- include('head') %>

<body>
  <%- include('header') %>
  <%- include('banner') %>
  <div class="container catinfo">
    <div class="row">
      <div class="col">
        <div class="img_presentcat">
          <img src="../images/catbanner.jpg" alt="">
        </div>
      </div>
      <div class="col-xl catinfo_text">
        <div>
          <div class="text-wrap">
            <h3>รหัสแมว 666</h3>
            <ul>
              <li>เพศ</li>
              <li>สี</li>
              <li>วัคซีนที่เคยได้รับ</li>
              <li>สายพันธ์</li>
            </ul>
          </div>
          <div class="text-wrap">
            <h3>ข้อมูลสัตว์</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, perspiciatis veniam. Expedita atque
              saepe debitis distinctio accusamus dolorem dolores quam, dolor nisi, id aspernatur voluptatem ipsa
              reprehenderit pariatur, quas possimus.</p>
          </div>
          <div class="text-wrap">
            <h3>ช่องทางการติดต่อ</h3>
            <ul>
              <li class="fa-solid fa-phone"> เบอรโทร</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container more_cat">
    <h2>น้องแมวตัวอื่นๆ</h2>
    <div class="d-flex flex-wrap justify-content-center">
      <a href="" class="cat-card">
        <div class="card" style="width: 14.5rem;">
          <img src="/images/cat.jpg" class="img-fluid rounded-start cat-pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">รหัสแมว</h5>
            <p class="card-text">สี: </p>
            <p class="card-text">สายพันธ์: </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </a>
      <a href="" class="cat-card">
        <div class="card" style="width: 14.5rem;">
          <img src="/images/cat.jpg" class="img-fluid rounded-start cat-pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">รหัสแมว</h5>
            <p class="card-text">สี: </p>
            <p class="card-text">สายพันธ์: </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </a>
      <a href="" class="cat-card">
        <div class="card" style="width: 14.5rem;">
          <img src="/images/cat.jpg" class="img-fluid rounded-start cat-pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">รหัสแมว</h5>
            <p class="card-text">สี: </p>
            <p class="card-text">สายพันธ์: </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </a>
      <a href="" class="cat-card">
        <div class="card" style="width: 14.5rem;">
          <img src="/images/cat.jpg" class="img-fluid rounded-start cat-pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">รหัสแมว</h5>
            <p class="card-text">สี: </p>
            <p class="card-text">สายพันธ์: </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </a>

    

      

    

    </div>
  </div>




  <%- include('./footer'); %>
</body>

</html>