<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <form class="row g-3" action="/findhome_post/update" method="post">
        <input type="hidden" name="edit_id" value="<%= doc._id%>">
        <div class="col-md-6">
            <label class="form-label">ชื่อของสัตว์เลี้ยง*</label>
            <input name="pet_name" type="text" class="form-control" id="inputEmail4" value="<%= doc.pet_name%>" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">สายพันธุ์*</label>
            <input name="pet_gene" type="text" class="form-control" id="inputPassword4" value="<%= doc.pet_gene%>" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">สี*</label>
            <input name="pet_color" type="text" class="form-control" id="exampleFormControlInput1" value="<%= doc.pet_color%>" required>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5">
            <button class="btn btn-primary me-md-2" type="submit" id="submit_home_form">อัพเดต</button>
        </div>
    </form>
</body>
</html>