<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= docs[1].email %></p>
    <a  href="cat_findhouse"> CAT1</a>
    <a  href="cat_findhouse"> CAT2</a>
  </body>
</html>
