<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cat Day</h1>
   
    <a  href="cat_findhouse"> CAT_findhouse</a><br><br>
    <a href="admin_check">Admin Check</a>
  </body>
</html>
