<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= docs[0].email %></p>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="/home">home</a>
    <a href="/test2">test2</a>
  </body>
</html>
