<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx">
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= docs[0].email %></p>

  <div class="boxcat">
    <div class="img_box">
      <div class="img_cat">
        <img src="" alt="แมว">
      </div>
    </div>
    <div class="info_cat">
      <ul>
        <li>รหัสแมว</li>
        <li>สี</li>
        <li>สายพันธ์</li>
      </ul>
    </div>
  </div>
  
  </body>
</html>
