<%- include('head') %>

<body>
    <%- include('header') %>
    <%- include('banner') %>
    <link href="/stylesheets/profile.css" rel="stylesheet" type="text/css">
    <div class="container">

        <div class="box-wrap-profile">
            <div class="text-center profile-block">
                <img class="rounded-circle mb-2" style="height: 200px; width: 200px;object-fit: cover;"
                    src="https://i.pinimg.com/236x/d5/6a/f7/d56af787f81df07a9d5bcd8ecad7ff3f.jpg" alt=""> <br>
                <a href="editprofile" class="fs-5">แก้ไขโปรไฟล์</a>
            </div>
            <div class="profile-info">
                <div class="row">
                    <div class="col-6">
                        <p class="fs-5 text-end">ชื่อ : </p>
                    </div>
                    <div class="col-6">xxxxx</div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="fs-5 text-end">อีเมล : </p>
                    </div>
                    <div class="col-6">xxxxx</div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="fs-5 text-end">เบอร์โทร : </p>
                    </div>
                    <div class="col-6">xxxxx</div>
                </div>
            </div>
            <button class="btn btn-danger logout" type="button">ออกจากระบบ</button>
        </div>
    </div>
</body>
<%- include('footer') %>