<%- include('head') %>

<body>
    <%- include('header') %>
    <%- include('banner') %>
    <div class="container">
        <a class="catinfo-search mb-3 home-cat-search" href="">
            <div class="d-inline-flex">
                <div class="col">
                     <img src="/images/1.jpg" class="img-fluid rounded-start cat-pic-search" alt="...">
                </div>
                <div class="col-md-8">
                     <div class="card-body">
                         <h5 class="card-title">ชื่อ: </h5>
                        <p class="card-text">สี: </p>
                        <p class="card-text">สายพันธ์: </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                     </div>
                 </div>
             </div>
        </a>
    </div>



    <%- include('footer') %>