<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= title%></p>
    <% calltest.forEach(calltest => { %>
      <ul>
        <li>
          <a href="/test2/<%=calltest._id%>"><%= calltest.pet_name%></a>
          <form action="/findhome_post/edit" method="post">
            <input type="hidden" name="edit_id" value="<%=calltest._id%>">
            <button type="submit">แก้ไข</button>
          </form>
      </li>
      </ul>
    <% }) %>

  </body>
</html>
