
*{
  margin: 0;
  padding: 0;
}

a {
  color: #FF9F45;
  text-decoration: none !important; 
}

h3{
  color: black !important;
}

.login-link{
  color: white;
}

.login-link:hover{
  color: #d5761d;
}

.login-link+span{
  color: #d5761d;
}

.nav-drop{
  color: grey !important;
}
.nav-drop:hover{
  color: rgb(100, 99, 99) !important;
}

/* สีปุ่ม */
.btn-color{
  background-color: #FF9F45 !important;
}
.btn-cancle{
  border: 1px solid gray !important;
}

/* .col-md-4{
  padding: 10px !important;
} */
.col-md-4 img{
  height: 180px;
  width: 200px;
  object-fit: cover;
}
.cat_img{
  height: 250px;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}
.cat-card{
  display: inline-block !important;
  margin-left: 1em;
  margin-right:1em;
  margin-bottom: 2em;
}

.head{
  background-color: #FF9F45;
  width:100vw;
  height: 5em;
}

.img-banner{
  height: 60vh;
}

.home-icon{
  width: 3rem;
  fill: #d5761d;
}
.home-icon-small{
  width: 1.5rem;
  fill: #d5761d;
  margin-left: 1rem;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.home-cat{
  width: 500px;
  height: 200px;
}
.catinfo-card{
  display: inline-block;
  width: 500px;
}
/* .c-cat{
  max-width: 500px;
  height: 200px;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.c-cat::-webkit-scrollbar {
  display: none;
} */


.home-cat{
  margin-left: 3rem;
}

.more-cat{
  text-align: right;
  text-decoration: none;
  color: #FF9F45;
}
.more-cat:hover{
  color: #FF9F45;
}
.icon-more-cat{
  width: 0.9rem;
  fill: #FF9F45;
}


.img-cat-john{
  width: 100%;
  max-width: 13rem;
  min-width: 5rem;
  height: 13rem;
  border-radius: 50%;
  object-fit: cover;
}
.text-cat-john{
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
}

.catinfo{
  text-decoration: none;
  color: black;
}
.catinfo:hover{
  color: black;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}





.home-cat-search{
  width: 520px;
  height: 200px;
  overflow: hidden;
}

.card-body{
  border: 0.5px solid lightgray !important;
}

.cat-pic-search{
  width: 400px;
  height: 250px !important;
  object-fit: cover;
}

.catinfo-search{
  text-decoration: none;
  color: black;
}
.catinfo-search:hover{
  color: black;
}



.card-serach {
  border: 1px solid rgb(221, 221, 221);
  width: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.108);
}

.card-serach img {
  border-right: 4px solid rgba(0, 0, 0, 0.108);
}

.cat-info-serach {
  padding: 20px;
}